@use "./variables.scss" as *;

// put your custom CSS here!
.sidebar.left {
  .search {
    min-width: 0;
    flex: 1 1 auto;
  }

  .search > .search-button {
    min-width: 0;
  }

  .search > .search-button > p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .explorer {
    min-height: 2rem;
  }

  .explorer.collapsed {
    flex-basis: 2rem;
  }

  .explorer button.desktop-explorer {
    min-height: 2rem;
    overflow: visible;
  }

  .explorer button.desktop-explorer h2 {
    line-height: 1.5rem;
    white-space: nowrap;
  }
}
